.devices{
    font-family: Revalia;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:576px) {
    .devices{
        padding:0;
    }
  }

.device-actions{
    display: flex;
    justify-content: flex-end;
}
.device-form{
    padding-bottom: 1em;
}
.device-form .form-group,.device-form .form-check{
    padding-bottom: 1em;
}