.App {
  text-align: center;
}

.navbar {
  font-family: Revalia;
  overflow:hidden;
  padding-bottom: 1em;
}

#mainNavbar .navbar-brand,#mainFooter .navbar-brand {
  font-size:32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainNavbar .navbar-nav{
  flex-direction: row;
}
@media screen and (max-width:576px) {
  #mainNavbar,#mainNavbar .navbar-nav{
    flex-direction: column;
  }
  #mainNavbar .navbar-nav li{
    text-align: center;
  }
  #mainNavbar .navbar-brand{
    margin-right: 0;
  }
  .sign-in, .sign-out{
    margin: auto!important;
  }
}

#mainNavbar .nav-item .nav-link{
  font-size:20px;
}

.justify-content-between{
  position: relative;
  width: 100%;
  min-height: 50px;
}

.logo{
  width:64px;
  height:64px;
}

#mainFooter{
  color: white;
  background-color: black;;
}
#mainContent{
  min-height: 100vh;
}
.sign-in, .sign-out{
  margin-left: 1em;
}
.navbar-toggler{
  display:none;
  position: absolute;
  top:0;
  right:0;
}
.collapsed{
  display:block;
}
@media screen and (max-width:576px) {
  .navbar-toggler{
    display:inline-block;
  }
  .collapsed{
    display:none!important;
  }
}
.form-group label{
  padding-bottom:0.5em;
}

.btn-action{
  min-width: 3em;
  min-height: 3em;
}