.App {
  text-align: center;
}

.navbar {
  font-family: Revalia;
}

#mainNavbar .navbar-brand,#mainFooter .navbar-brand {
  font-size:32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainNavbar .navbar-nav{
  flex-direction: row;
}

#mainNavbar .nav-item .nav-link{
  font-size:20px;
}

.logo{
  width:64px;
  height:64px;
}

#mainFooter{
  color: white;
  background-color: black;;
}
#mainContent{
  min-height: 100vh;
}
.sign-in{
  margin-left: 1em;
}
